@page "/"

<style>
    .mud-alert-message a {
        text-decoration: underline;
    }
</style>

<PageTitle>Welcome</PageTitle>

<AuthorizeView>
    <Authorized>    
        Welcome back
    </Authorized>
    <NotAuthorized>

        <MudText Typo="Typo.h3" GutterBottom="true">Perf. Review Tool</MudText>
        <MudAlert Severity="Severity.Normal">You have to <a href="Identity/Account/Register">register</a> or <a href="Identity/Account/Login">Log in</a>. When done, your manager will able to add you into his ressources list.</MudAlert>
    </NotAuthorized>
</AuthorizeView>