<AuthorizeView>
    <Authorized>
        <p class="mr-4">Hello, @context?.User?.Identity?.Name</p>
        
        @*TODO : Check why 400 on logout*@
        <form method="post" action="/Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
        <a href="Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    [Inject]
    private NavigationManager Navigation { get; set; }

    private async Task BeginLogout(MouseEventArgs args)
    {
        Navigation.NavigateTo("/Identity/Account/Logout", true);
    }
}