@page
@model makeITeasy.PerformanceReview.BlazorServerApp.Areas.Identity.Pages.Account.feedModel
@{
}


<form id="account" method="post">
    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Feed me</button>
</form>